.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: $white;
  z-index: 100;
  transition: all 0.3s;

  & > a {
    text-align: center;
    align-self: center;
    opacity: 0.4;
    transition: all 0.3s;

    &.router-link-active {
      opacity: 1;

      & > svg {
        transition: all 0.3s;
        height: 32px;
        border-bottom: 2px solid $primaryColor;
        animation: mymove 0.4s ease-in-out;

        @keyframes mymove {
          from {
            height: 0px;
          }
          to {
            height: 32px;
          }
        }
      }
    }
  }
  .winkelwagen-counter {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: $primaryColor;
    border-radius: 50%;
    right: 45px;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
