.container {
    overflow: hidden;

    .itemdetail{
        
        &__img{
            max-width: 350px;
            max-height: 300px;
            height:300px;
            display:flex;
            justify-content: center;

            img{
                height: 300px;
                min-width: 250px;
                max-width: 250px;
                object-fit: contain;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &__text{
            margin-top:60px;
            display: flex;
            justify-content: space-between;
            &__titlebrand{
                h3{
                    font-size:15px;
                }
                p{
                    font-size:10px;
                }
            }
            &__addtocard-button{
                background-color: #28A745;
                height: 40px;
                width: 50px;
                border-radius: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 30px;
                    height: auto;
                }
            }
            p{
                color: #23A811;
            }
        }

        &__beschrijving{
            margin-top: 35px;

            &__title{
                font-weight: bold;
                font-size: 12px;
                margin-bottom: 10px;
            }
            &__description{
                font-size: 10px;
                color: #0E7500;
            }
            div{
                margin-top:25px;
                .nutriscore{
                    height: 30px;
                }
            }
            &__nutriscore{
                margin-top: 30px;
            }
        }
        
    }
}