$primaryColor: #23a811;
$secondaryColor: #fff;
$accentColor: #fff;
$white: #fff;
<<<<<<< HEAD


$storeGreen: #4EC663;
$storeBg: #181818;
=======
$black: #000;
>>>>>>> a73825a2d61f6ab65deb64954d24b537e3a1627a
