@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

$headerFontSize: 2rem;
$bodyFontSize: 1rem;
<<<<<<< HEAD
$bodyFont: muli, sans-serif;
=======
$bodyFont: 'Poppins' , sans-serif;

>>>>>>> a73825a2d61f6ab65deb64954d24b537e3a1627a

