.qr-container {
  width: 200px;
  height: 200px;
  padding-top: 40px;
  margin: 0 auto;
}

.qr-media {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  background-color: $white;
}
