.qr-container {
    width: 250px;
    height: 250px;
    padding-top: 15px;
    margin: 0 auto;
}

.qr-media {
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    img {
        width: 100%;
    }
}

.qr-scanner {
    .box {
        margin-top: -1rem;
        width: 230px;
        height: 230px;
    }
}
