.shoppinglist-container {
    margin-left: auto;
    margin-right: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: block;

    z-index: 99;

}

.shoppinglist-list {
    columns: 2;
}

.shoppinglist-content {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    padding-top: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;

    max-height: 375px;

    // background-color: $storeBg;
}

.list-item {
    color: $storeGreen;
    & + & {
        margin-top: 0.5rem;
    }
}

.shoppinglist-toggler {
    position: relative;
    background-color: yellow;
    bottom: 0;
    left: 0;
    right: 0;
}
