.store-container {
    width: 100%;
    height: 375px;
    background-color: $storeBlack;
}

.store-navigation-content {
    min-width: 100%;
    height: 335px;
    padding-top: 3rem;

    // position: relative;

    z-index: -1;

    display: flex;
    justify-content: space-between;

    background-color: $storeBlack;
}

.store-navigation-left {
    display: flex;
}

.store-navigation-arrow {
    width: 33px;
    height: 60px;
    margin-right: 1.5rem;
}

.store-navigation-right {
    width: 250px;
    margin-top: -3rem;
}
