.shoppinglist-toggler {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #D8D8D8;
}
.toggler-headline {
    color: $black;
    text-align: center;
}
